span.math.display {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

span.math.inline {
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  vertical-align: middle;
}

#quarto-sidebar .sidebar-menu-container > ul > li.sidebar-item:first-child {
  display: none;
}